body {
  margin: 0;
  padding: 0;
}

// .app-header {
//   height: 60px;
//   background-color: lightcoral;
//   width: 100%;
// }

.app-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 1000px;
  height: 100%;

  .app-nav {
    width: 20%;
    background: lightseagreen;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: stretch;

    .nav-item {
      height: 60px;
      background-color: white;
      cursor: pointer;
      display: flex;
      flex-direction: center;
      justify-content: center;
      align-items: center;

      &.active-nav {
        background-color: coral;
      }

      &:hover {
        background-color: lightgoldenrodyellow;
      }
    }

  }

  .main-content {
    flex: 1;
    background-color: lightcyan;

    .view {
      margin: 10px;
    }

  }

}